@tailwind base;
@tailwind components;
@tailwind utilities;


.banner{
    position: relative;
}
.banner-content{
    position:absolute;
    top: 300px;
}
/*  */
/* .section-card{
  position: relative;
}

.service-details{
 position: absolute;
  top: 20px;

} */
.project-cover-card{
position: relative
}
.project-tag{
  position: absolute;
  top: 0;
  right: 0;
}
.project-duration{
  position: absolute;
  bottom: 20px;
  

}



@-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(1, 1);
    }
    to {
      -webkit-transform: scale(1.5, 1.5);
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.5, 1.5);
    }
  }
  
  .bannerImg {
     -webkit-animation: zoom 15s; 
     animation: zoom 15s; 
  } 